<div class="pb-5">
  <app-header (navLinkClicked)="navigate($event)"></app-header>
</div>
<div class="container">
  <div class="row d-flex justify-content-center pb-3">
    <h1>Shorten the length of your Url today!</h1>
  </div>
  <div class="pb-3">
    <app-shortener (shorten)="shortenUrl($event)"></app-shortener>
  </div>
  <div *ngIf="shortenedUrl" class="card p-3">
    <div class="row d-flex justify-content-center">
      <h3 class="pr-3" id="shortened-url">Your Shortened Url: {{shortenedUrl}}</h3>
      <button [appClipboard]="shortenedUrl" class="btn btn-outline-primary">Copy to clipboard</button>
    </div>
    <div class="row d-flex justify-content-center" *ngIf="urlSizeDifference > 0">
      <h5>This new link is <span>{{urlSizeDifference}}</span> characters shorter than the previous link</h5>
    </div>
  </div>
</div>
